<div class="container">
    <div class="mb-4">
        <h3 class="f12 f-grey-3 txt-c mb-1">Waarschuwing: schaamteloze advertentie!</h3>
        <div class="iab">
            <figure class="iab__billboard bg-red">
                <img class="iab__img" src="/assets/img/banners/970x250.jpg" />
            </figure>
            <figure class="iab__leaderboard bg-red">
                <img class="iab__img" src="/assets/img/banners/728x90.jpg" />
            </figure>
            <figure class="iab__mobile bg-red">
                <img class="iab__img" src="/assets/img/banners/320x50.jpg" />
            </figure>
        </div>
    </div>
</div>