<div class="container container--section" data-type="cms-LandingGrid" data-noindex="true">
    <div class="grid" data-controller="generic/ui/ResponsiveGrid" data-type="cms-DragDropGrid">
        <div class="grid__unit grid__unit--divider s-4-4 m-12-12 l-12-12 gridHeader"
            data-responsivegrid-noequalize="true" data-type="cms-ArticleDragDropTitel">
            <h2 class="headingXL gridHeader__heading">Populaire uitjes</h2>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 is-ready" data-responsivegrid-height-l="1.0"
            data-responsivegrid-height-m="1.0" data-type="cms-ArticleBannerTegelBlokje"
            data-responsivegrid-height-add-to-next-row="false" style="height: 399px;">
            <div class="tile tile--banner tile--has-footer is-clickable tile--whiteText"
                data-controller="generic/ui/ClickableTile">
                <div class="tile__backgroundImage">
                    <picture class="">
                        <source
                            srcset="https://ns.nl/binaries/_ht_1567158135099/vierkantmedium/content/gallery/ns-nl/banner-type-a-afbeeldingen/dagje-uit/blue-wellness-panoramazwembad-2.jpg"
                            media="(min-width: 640px)">
                        <source
                            srcset="https://ns.nl/binaries/_ht_1567158135099/vierkantsmall/content/gallery/ns-nl/banner-type-a-afbeeldingen/dagje-uit/blue-wellness-panoramazwembad-2.jpg"
                            media="(min-width: 0px)">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                            alt="" class="img--contain">
                    </picture>
                </div>
                <div class="tile__content">
                    <div class="tile__bannerContent">
                        <h3 class="tile__bannerHeading tile__bannerHeading--strong">Dagje wellness in Leiden</h3>
                        <p class="tile__bannerSubheading">Heerlijk relaxen!</p>
                    </div>
                </div>
                <div class="tile__footer">
                    <a href="/spoordeelwinkel/uitjes/dagje-wellness-leiden.html" class="button button--primary "
                        target="_blank" rel="noopener" data-type="cms-Button"
                        data-eventdata="{&quot;data&quot;:{&quot;link_creative&quot;:&quot;tegel&quot;,&quot;link_data&quot;:{&quot;buttontype&quot;:&quot;button--primary&quot;,&quot;layout&quot;:&quot;blokje&quot;,&quot;name&quot;:&quot;cultuur-wellness&quot;,&quot;targetdocumentname&quot;:&quot;dagje-wellness-leiden&quot;,&quot;targetdocumentpath&quot;:&quot;/content/documents/spoordeelwinkel-nl/content/uitjes/dagje-wellness-leiden/dagje-wellness-leiden&quot;,&quot;type&quot;:&quot;banner&quot;},&quot;link_location&quot;:&quot;bannertegel&quot;,&quot;link_name&quot;:&quot;Bekijk aanbieding&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/spoordeelwinkel/uitjes/dagje-wellness-leiden.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Bekijk
                        aanbieding</a>
                </div>
            </div>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 is-ready" data-type="cms-ArticlePrijsbanner" style="height: 399px;">
            <div class="tile is-clickable" data-controller="generic/ui/ClickableTile">
                <div class="tile__header tile__header--image">
                    <div class="tile__expander">
                        <picture class="">
                            <source
                                srcset="https://ns.nl/binaries/_ht_1567160603903/tegel/content/gallery/ns-nl/prijsbanner-afbeeldingen/spoordeelwinkel/bakker-bart-hero.jpg"
                                media="(min-width: 0px)">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                alt="" class="img--contain">
                        </picture>
                    </div>
                </div>
                <div class="tile__headerHolder">
                    <div class="tile__title">
                        <h3 class="tile__heading headingM">
                            Dagje uit naar keuze
                        </h3>
                    </div>
                    <div class="tile__label">
                        <p>Spoordeelwinkel</p>
                    </div>
                </div>
                <div class="tile__content">
                    <p>
                        Incl. Bartje + sap bij Bakker Bart
                    </p>
                    <div class="pricedetails pricedetails--xlarge">
                        <p>
                            <span class="pricedetails__price">
                                € 19
                            </span>
                        </p>
                    </div>
                </div>
                <div class="tile__footer">
                    <p>
                        <a href="/spoordeelwinkel/uitjes/landelijkedeal-2eklas.html" class="arrowLink"
                            title="Dagje uit naar keuze € 19" target="_blank" rel="noopener"
                            data-eventdata="{&quot;data&quot;:{&quot;link_creative&quot;:&quot;tegel&quot;,&quot;link_data&quot;:{&quot;name&quot;:&quot;sdw-uitje-beste-aanbieding.2&quot;},&quot;link_location&quot;:&quot;prijsbanner&quot;,&quot;link_name&quot;:&quot;Bekijk aanbieding&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/spoordeelwinkel/uitjes/landelijkedeal-2eklas.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Bekijk
                            aanbieding</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 is-ready" data-responsivegrid-height-l="1.0"
            data-responsivegrid-height-m="1.0" data-type="cms-ArticleBannerTegelBlokje"
            data-responsivegrid-height-add-to-next-row="false" style="height: 399px;">
            <div class="tile tile--banner tile--has-footer is-clickable tile--whiteText"
                data-controller="generic/ui/ClickableTile">
                <div class="tile__backgroundImage">
                    <picture class="">
                        <source
                            srcset="https://ns.nl/binaries/_ht_1542965580072/vierkantmedium/content/gallery/ns-nl/banner-type-a-afbeeldingen/dagje-uit/ns-favourites-antwerpen.png"
                            media="(min-width: 640px)">
                        <source
                            srcset="https://ns.nl/binaries/_ht_1542965580072/vierkantsmall/content/gallery/ns-nl/banner-type-a-afbeeldingen/dagje-uit/ns-favourites-antwerpen.png"
                            media="(min-width: 0px)">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                            alt="" class="img--contain">
                    </picture>
                </div>
                <div class="tile__content">
                    <div class="tile__bannerContent">
                        <h3 class="tile__bannerHeading tile__bannerHeading--strong">Nieuw&nbsp;op nsfavourites:
                            Antwerpen</h3>
                        <p class="tile__bannerSubheading">De leukste tips voor jouw stedentrip</p>
                    </div>
                </div>
                <div class="tile__footer">
                    <a href="https://www.nsfavourites.nl/cityguide/antwerpen.html?utm_source=ns&amp;utm_medium=referral&amp;utm_campaign=18_december_nsf_c01385"
                        class="button button--primary " target="_blank" rel="external noopener" data-type="cms-Button"
                        data-eventdata="{&quot;data&quot;:{&quot;link_creative&quot;:&quot;tegel&quot;,&quot;link_data&quot;:{&quot;buttontype&quot;:&quot;button--primary&quot;,&quot;layout&quot;:&quot;blokje&quot;,&quot;name&quot;:&quot;ns-favourites&quot;,&quot;type&quot;:&quot;banner&quot;},&quot;link_location&quot;:&quot;bannertegel&quot;,&quot;link_name&quot;:&quot;Naar #nsfavourites&quot;,&quot;link_type&quot;:&quot;external&quot;,&quot;link_value&quot;:&quot;https://www.nsfavourites.nl/cityguide/antwerpen.html?utm_source=ns&amp;utm_medium=referral&amp;utm_campaign=18_december_nsf_c01385&quot;},&quot;event&quot;:&quot;link_click&quot;}">Naar
                        #nsfavourites</a>
                </div>
            </div>
        </div>
        <div class="grid__unit grid__unit--divider s-4-4 m-12-12 l-12-12 gridHeader"
            data-responsivegrid-noequalize="true" data-type="cms-ArticleDragDropTitel">
            <h2 class="headingXL gridHeader__heading">Spoordeelwinkel</h2>
            <a href="https://www.ns.nl/spoordeelwinkel" class="arrowLink gridHeader__link" rel="external"
                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;title&quot;:&quot;Spoordeelwinkel&quot;},&quot;link_location&quot;:&quot;dragdroptitel&quot;,&quot;link_name&quot;:&quot;Bekijk alle aanbiedingen&quot;,&quot;link_type&quot;:&quot;external&quot;,&quot;link_value&quot;:&quot;https://www.ns.nl/spoordeelwinkel&quot;},&quot;event&quot;:&quot;link_click&quot;}">Bekijk
                alle aanbiedingen</a>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 is-ready" data-type="cms-ArticlePrijsbanner" style="height: 399px;">
            <div class="tile is-clickable" data-controller="generic/ui/ClickableTile">
                <div class="tile__header tile__header--image">
                    <div class="tile__expander">
                        <picture class="">
                            <source
                                srcset="https://ns.nl/binaries/_ht_1561966981478/tegel/content/gallery/ns-nl/prijsbanner-afbeeldingen/spoordeelwinkel/amsterdam-grachtenpanden_hero.jpg"
                                media="(min-width: 0px)">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                alt="" class="img--contain">
                        </picture>
                    </div>
                </div>
                <div class="tile__headerHolder">
                    <div class="tile__title">
                        <h3 class="tile__heading headingM">
                            Dagje Amsterdam
                        </h3>
                    </div>
                    <div class="tile__label">
                        <p>Spoordeelwinkel</p>
                    </div>
                </div>
                <div class="tile__content">
                    <p>
                        Incl. koffie/thee en brownie bij Illy
                    </p>
                    <div class="pricedetails pricedetails--xlarge">
                        <p>
                            <span class="pricedetails__before">vanaf</span>
                            <span class="pricedetails__price">
                                € 19
                            </span>
                            <span class="pricedetails__after">p.p.</span>
                        </p>
                    </div>
                </div>
                <div class="tile__footer">
                    <p>
                        <a href="/spoordeelwinkel/uitjes/dagje-uit-amsterdam-illy.html" class="arrowLink"
                            title="Dagje Amsterdam vanaf € 19 p.p." target="_blank" rel="noopener"
                            data-eventdata="{&quot;data&quot;:{&quot;link_creative&quot;:&quot;tegel&quot;,&quot;link_data&quot;:{&quot;name&quot;:&quot;maastricht&quot;},&quot;link_location&quot;:&quot;prijsbanner&quot;,&quot;link_name&quot;:&quot;Bekijk aanbieding&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/spoordeelwinkel/uitjes/dagje-uit-amsterdam-illy.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Bekijk
                            aanbieding</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 is-ready" data-type="cms-ArticlePrijsbanner" style="height: 399px;">
            <div class="tile is-clickable" data-controller="generic/ui/ClickableTile">
                <div class="tile__header tile__header--image">
                    <div class="tile__expander">
                        <picture class="">
                            <source
                                srcset="https://ns.nl/binaries/_ht_1569923858963/tegel/content/gallery/ns-nl/prijsbanner-afbeeldingen/spoordeelwinkel/burgers-zoo-vlinder-hero.jpg"
                                media="(min-width: 0px)">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                alt="" class="img--contain">
                        </picture>
                    </div>
                </div>
                <div class="tile__headerHolder">
                    <div class="tile__title">
                        <h3 class="tile__heading headingM">
                            Trein + Burgers' Zoo
                        </h3>
                    </div>
                    <div class="tile__label">
                        <p>Spoordeelwinkel</p>
                    </div>
                </div>
                <div class="tile__content">
                    <p>
                        Dieren in hun natuurlijke habitat
                    </p>
                    <div class="pricedetails pricedetails--xlarge">
                        <p>
                            <span class="pricedetails__before">vanaf</span>
                            <span class="pricedetails__price">
                                € 34
                            </span>
                            <span class="pricedetails__after">p.p.</span>
                        </p>
                    </div>
                </div>
                <div class="tile__footer">
                    <p>
                        <a href="/spoordeelwinkel/uitjes/burgers-zoo-arnhem.html" class="arrowLink"
                            title="Trein + Burgers' Zoo vanaf € 34 p.p." target="_blank" rel="noopener"
                            data-eventdata="{&quot;data&quot;:{&quot;link_creative&quot;:&quot;tegel&quot;,&quot;link_data&quot;:{&quot;name&quot;:&quot;spoordeelwinkel&quot;},&quot;link_location&quot;:&quot;prijsbanner&quot;,&quot;link_name&quot;:&quot;Bekijk aanbieding&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/spoordeelwinkel/uitjes/burgers-zoo-arnhem.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Bekijk
                            aanbieding</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 is-ready" data-type="cms-ArticleLinklijstTegel"
            style="height: 399px;">
            <div class="tile ">
                <div class="tile__title">
                    <h3 class="tile__heading headingM">Deze maand in de Spoordeelwinkel
                    </h3>
                </div>
                <div class="tile__content">
                    <ul class="list list--specs">
                        <li class="list__item" data-type="cms-Link">
                            <a href="/spoordeelwinkel/uitjes/landelijkedeal-2eklas.html" class="arrowLink"
                                target="_blank" rel="noopener"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:1,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;spoordeelwinkel&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/dagje-uit/spoordeelwinkel/spoordeelwinkel&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Dagje uit naar keuze €19&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/spoordeelwinkel/uitjes/landelijkedeal-2eklas.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Dagje
                                uit naar keuze €19</a>
                        </li>
                        <li class="list__item" data-type="cms-Link">
                            <a href="/spoordeelwinkel/uitjes/blijdorp.html" class="arrowLink" target="_blank"
                                rel="noopener"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:2,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;spoordeelwinkel&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/dagje-uit/spoordeelwinkel/spoordeelwinkel&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Trein + Diergaarde Blijdorp €27&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/spoordeelwinkel/uitjes/blijdorp.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Trein
                                + Diergaarde Blijdorp €27</a>
                        </li>
                        <li class="list__item" data-type="cms-Link">
                            <a href="/spoordeelwinkel/uitjes/margriet-winterfair.html" class="arrowLink" target="_blank"
                                rel="noopener"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:3,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;spoordeelwinkel&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/dagje-uit/spoordeelwinkel/spoordeelwinkel&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Trein + Margriet Winterfair €29&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/spoordeelwinkel/uitjes/margriet-winterfair.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Trein
                                + Margriet Winterfair €29</a>
                        </li>
                        <li class="list__item" data-type="cms-Link">
                            <a href="/spoordeelwinkel/uitjes/efteling.html" class="arrowLink" target="_blank"
                                rel="noopener"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:4,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;spoordeelwinkel&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/dagje-uit/spoordeelwinkel/spoordeelwinkel&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Trein + Bus + Efteling  €45&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/spoordeelwinkel/uitjes/efteling.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Trein
                                + Bus + Efteling €45</a>
                        </li>
                        <li class="list__item" data-type="cms-Link">
                            <a href="/spoordeelwinkel/uitjes/walibi-fright-nights.html" class="arrowLink"
                                target="_blank" rel="noopener"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:5,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;spoordeelwinkel&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/dagje-uit/spoordeelwinkel/spoordeelwinkel&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Trein + Halloween Fright Nights Walibi €49&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/spoordeelwinkel/uitjes/walibi-fright-nights.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Trein
                                + Halloween Fright Nights Walibi €49</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="grid__unit grid__unit--divider s-4-4 m-12-12 l-12-12 gridHeader"
            data-responsivegrid-noequalize="true" data-type="cms-ArticleDragDropTitel">
            <h2 class="headingXL gridHeader__heading">nsfavourites</h2>
            <a href="https://www.nsfavourites.nl/?utm_medium=referral&amp;utm_source=ns&amp;utm_campaign=dagje-uit&amp;utm_term=link-ontdek-meer"
                class="arrowLink gridHeader__link" rel="external"
                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;title&quot;:&quot;nsfavourites&quot;},&quot;link_location&quot;:&quot;dragdroptitel&quot;,&quot;link_name&quot;:&quot;Ontdek meer&quot;,&quot;link_type&quot;:&quot;external&quot;,&quot;link_value&quot;:&quot;https://www.nsfavourites.nl/?utm_medium=referral&amp;utm_source=ns&amp;utm_campaign=dagje-uit&amp;utm_term=link-ontdek-meer&quot;},&quot;event&quot;:&quot;link_click&quot;}">Ontdek
                meer</a>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-8-12 is-ready" data-responsivegrid-height-l="1.0"
            data-responsivegrid-height-m="1.0" data-type="cms-ArticleBannerTegelLiggend"
            data-responsivegrid-height-add-to-next-row="false" style="height: 358px;">
            <div class="tile tile--banner tile--has-footer is-clickable tile--whiteText tile--bannerContentLeft"
                data-controller="generic/ui/ClickableTile">
                <div class="tile__backgroundImage">
                    <picture class="">
                        <source
                            srcset="https://ns.nl/binaries/_ht_1542965559007/liggend/content/gallery/ns-nl/banner-type-a-afbeeldingen/dagje-uit/ns-favourites-theathers.png"
                            media="(min-width: 912px)">
                        <source
                            srcset="https://ns.nl/binaries/_ht_1542965559007/vierkantmedium/content/gallery/ns-nl/banner-type-a-afbeeldingen/dagje-uit/ns-favourites-theathers.png"
                            media="(min-width: 640px)">
                        <source
                            srcset="https://ns.nl/binaries/_ht_1542965559007/vierkantsmall/content/gallery/ns-nl/banner-type-a-afbeeldingen/dagje-uit/ns-favourites-theathers.png"
                            media="(min-width: 0px)">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                            alt="" class="img--contain">
                    </picture>
                </div>
                <div class="tile__content">
                    <div class="tile__bannerContent">
                        <h3 class="tile__bannerHeading tile__bannerHeading--strong">8x de leukste theaters in Nederland
                        </h3>
                        <p class="tile__bannerSubheading">Voor jong en oud</p>
                    </div>
                </div>
                <div class="tile__footer">
                    <a href="https://www.nsfavourites.nl/cityguide/nederland/theaters.html?utm_source=ns&amp;utm_medium=referral&amp;utm_campaign=18_december_nsf_c01385"
                        class="button button--primary " target="_blank" rel="external noopener" data-type="cms-Button"
                        data-eventdata="{&quot;data&quot;:{&quot;link_creative&quot;:&quot;tegel&quot;,&quot;link_data&quot;:{&quot;buttontype&quot;:&quot;button--primary&quot;,&quot;layout&quot;:&quot;liggend&quot;,&quot;name&quot;:&quot;ns-favourites-aanbieding-1&quot;,&quot;type&quot;:&quot;banner&quot;},&quot;link_location&quot;:&quot;bannertegel&quot;,&quot;link_name&quot;:&quot;Bekijk op nsfavourites&quot;,&quot;link_type&quot;:&quot;external&quot;,&quot;link_value&quot;:&quot;https://www.nsfavourites.nl/cityguide/nederland/theaters.html?utm_source=ns&amp;utm_medium=referral&amp;utm_campaign=18_december_nsf_c01385&quot;},&quot;event&quot;:&quot;link_click&quot;}">Bekijk
                        op nsfavourites</a>
                </div>
            </div>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 is-ready" data-type="cms-ArticleLinklijstTegel"
            style="height: 358px;">
            <div class="tile tile--highlight ">
                <div class="tile__title">
                    <h3 class="tile__heading headingM">Bekijk ook
                    </h3>
                </div>
                <div class="tile__content">
                    <ul class="list list--specs">
                        <li class="list__item" data-type="cms-Link">
                            <a href="https://www.nsfavourites.nl/cityguide/antwerpen.html?utm_source=ns&amp;utm_medium=referral&amp;utm_campaign=18_wk50_nsf_c01385"
                                class="arrowLink" target="_blank" rel="external noopener"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:1,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;ns-favourites&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/dagje-uit/ns-favourites/ns-favourites&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Antwerpen Cityguide&quot;,&quot;link_type&quot;:&quot;external&quot;,&quot;link_value&quot;:&quot;https://www.nsfavourites.nl/cityguide/antwerpen.html?utm_source=ns&amp;utm_medium=referral&amp;utm_campaign=18_wk50_nsf_c01385&quot;},&quot;event&quot;:&quot;link_click&quot;}">Antwerpen
                                Cityguide</a>
                        </li>
                        <li class="list__item" data-type="cms-Link">
                            <a href="https://www.nsfavourites.nl/cityguide/nederland/de-leukste-cocktailbars.html"
                                class="arrowLink" target="_blank" rel="external noopener"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:2,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;ns-favourites&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/dagje-uit/ns-favourites/ns-favourites&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;8x de leukste cocktailbars&quot;,&quot;link_type&quot;:&quot;external&quot;,&quot;link_value&quot;:&quot;https://www.nsfavourites.nl/cityguide/nederland/de-leukste-cocktailbars.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">8x
                                de leukste cocktailbars</a>
                        </li>
                        <li class="list__item" data-type="cms-Link">
                            <a href="https://www.nsfavourites.nl/cityguide/den-haag/4-x-op-bijzondere-ontdekkingstocht-in-den-haag.html"
                                class="arrowLink" target="_blank" rel="external noopener"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:3,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;ns-favourites&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/dagje-uit/ns-favourites/ns-favourites&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;4x ontdekkingstocht Den Haag&quot;,&quot;link_type&quot;:&quot;external&quot;,&quot;link_value&quot;:&quot;https://www.nsfavourites.nl/cityguide/den-haag/4-x-op-bijzondere-ontdekkingstocht-in-den-haag.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">4x
                                ontdekkingstocht Den Haag</a>
                        </li>
                        <li class="list__item" data-type="cms-Link">
                            <a href="https://www.nsfavourites.nl/cityguide/tilburg/mr.-morris.html" class="arrowLink"
                                target="_blank" rel="external noopener"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:4,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;ns-favourites&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/dagje-uit/ns-favourites/ns-favourites&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Stoere sapjes in Tilburg bij Mr. Morris&quot;,&quot;link_type&quot;:&quot;external&quot;,&quot;link_value&quot;:&quot;https://www.nsfavourites.nl/cityguide/tilburg/mr.-morris.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Stoere
                                sapjes in Tilburg bij Mr. Morris</a>
                        </li>
                        <li class="list__item" data-type="cms-Link">
                            <a href="https://www.nsfavourites.nl/cityguide/nederland/7x-de-beste-japanse-restaurants.html?utm_source=ns&amp;utm_medium=referral&amp;utm_campaign=18_wk50_nsf_c01385"
                                class="arrowLink" target="_blank" rel="external noopener"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:5,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;ns-favourites&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/dagje-uit/ns-favourites/ns-favourites&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;De beste Japanse restaurants&quot;,&quot;link_type&quot;:&quot;external&quot;,&quot;link_value&quot;:&quot;https://www.nsfavourites.nl/cityguide/nederland/7x-de-beste-japanse-restaurants.html?utm_source=ns&amp;utm_medium=referral&amp;utm_campaign=18_wk50_nsf_c01385&quot;},&quot;event&quot;:&quot;link_click&quot;}">De
                                beste Japanse restaurants</a>
                        </li>
                    </ul>
                </div>
                <div class="tile__footer">
                    <p class="separator--top">
                        <a href="https://www.nsfavourites.nl/?utm_source=ns&amp;utm_medium=referral&amp;utm_campaign=19_wk2_nsf_c01385"
                            class="arrowLink" target="_blank" rel="external noopener"
                            data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linktype&quot;:&quot;standaard&quot;,&quot;name&quot;:&quot;ns-favourites&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/dagje-uit/ns-favourites/ns-favourites&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Ontdek alle favorieten&quot;,&quot;link_type&quot;:&quot;external&quot;,&quot;link_value&quot;:&quot;https://www.nsfavourites.nl/?utm_source=ns&amp;utm_medium=referral&amp;utm_campaign=19_wk2_nsf_c01385&quot;},&quot;event&quot;:&quot;link_click&quot;}">Ontdek
                            alle favorieten</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="grid__unit grid__unit--divider s-4-4 m-12-12 l-12-12 gridHeader"
            data-responsivegrid-noequalize="true" data-type="cms-ArticleDragDropTitel">
            <h2 class="headingXL gridHeader__heading">De mooiste wandelingen</h2>
            <a href="/dagje-uit/wandelen" class="arrowLink gridHeader__link"
                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;targetdocumentname&quot;:&quot;filter&quot;,&quot;targetdocumentpath&quot;:&quot;/content/documents/ns-nl/content/dagje-uit-nieuw/wandelen/filter/filter&quot;,&quot;title&quot;:&quot;De mooiste wandelingen&quot;},&quot;link_location&quot;:&quot;dragdroptitel&quot;,&quot;link_name&quot;:&quot;Zoek een NS-wandeling&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/dagje-uit/wandelen&quot;},&quot;event&quot;:&quot;link_click&quot;}">Zoek
                een NS-wandeling</a>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 is-ready" data-type="cms-ArticleWandelingDetailTegelAfbeelding"
            style="height: 382px;">
            <div class="tile tile--clickable is-clickable" data-controller="generic/ui/ClickableTile">
                <div class="tile__header tile__header--image">
                    <div class="tile__expander">
                        <picture class="">
                            <source
                                srcset="https://ns.nl/binaries/_ht_1551787668809/tegel/content/gallery/ns-nl/dagjeuit-hero-afbeeldingen/wandelingen/fort-erfprins-tussen-huisduinen-en-den-helder.jpg"
                                media="(min-width: 640px)">
                            <source
                                srcset="https://ns.nl/binaries/_ht_1551787668809/tegel/content/gallery/ns-nl/dagjeuit-hero-afbeeldingen/wandelingen/fort-erfprins-tussen-huisduinen-en-den-helder.jpg"
                                media="(min-width: 0px)">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                alt="" class="img--contain">
                        </picture>
                    </div>
                </div>
                <div class="tile__headerHolder">
                    <div class="tile__title">
                        <h3 class="tile__heading headingM">Helderse Duinen</h3>
                    </div>
                    <div class="tile__specs">
                        <p class="grey small">9,5 tot 15,5&nbsp;km</p>
                    </div>
                </div>
                <div class="tile__content">
                    <p>
                        Van station Den Helder Zuid naar station Den Helder
                    </p>
                </div>
                <div class="tile__footer">
                    <p>
                        <a href="/dagje-uit/wandelen/helderse-duinen.html" class="arrowLink" title="Helderse Duinen"
                            data-eventdata="{&quot;data&quot;:{&quot;link_creative&quot;:&quot;tegel&quot;,&quot;link_location&quot;:&quot;wandeling_detailtegel&quot;,&quot;link_name&quot;:&quot;Bekijk de wandeling&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/dagje-uit/wandelen/helderse-duinen.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Bekijk
                            de wandeling</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 is-ready" data-type="cms-ArticleWandelingDetailTegelAfbeelding"
            style="height: 382px;">
            <div class="tile tile--clickable is-clickable" data-controller="generic/ui/ClickableTile">
                <div class="tile__header tile__header--image">
                    <div class="tile__expander">
                        <picture class="">
                            <source
                                srcset="https://ns.nl/binaries/_ht_1553090496403/tegel/content/gallery/ns-nl/dagjeuit-hero-afbeeldingen/wandelingen/ns-wandeling-gein-en-vecht.jpg"
                                media="(min-width: 640px)">
                            <source
                                srcset="https://ns.nl/binaries/_ht_1553090496403/tegel/content/gallery/ns-nl/dagjeuit-hero-afbeeldingen/wandelingen/ns-wandeling-gein-en-vecht.jpg"
                                media="(min-width: 0px)">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                alt="" class="img--contain">
                        </picture>
                    </div>
                </div>
                <div class="tile__headerHolder">
                    <div class="tile__title">
                        <h3 class="tile__heading headingM">Gein en Vecht</h3>
                    </div>
                    <div class="tile__specs">
                        <p class="grey small">6 tot 14&nbsp;km</p>
                    </div>
                </div>
                <div class="tile__content">
                    <p>
                        Van station Abcoude naar station Weesp
                    </p>
                </div>
                <div class="tile__footer">
                    <p>
                        <a href="/dagje-uit/wandelen/gein-en-vecht.html" class="arrowLink" title="Gein en Vecht"
                            data-eventdata="{&quot;data&quot;:{&quot;link_creative&quot;:&quot;tegel&quot;,&quot;link_location&quot;:&quot;wandeling_detailtegel&quot;,&quot;link_name&quot;:&quot;Bekijk de wandeling&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/dagje-uit/wandelen/gein-en-vecht.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Bekijk
                            de wandeling</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 is-ready" data-responsivegrid-height-l="1.0"
            data-responsivegrid-height-m="1.0" data-type="cms-ArticleBannerTegelBlokje"
            data-responsivegrid-height-add-to-next-row="false" style="height: 382px;">
            <div class="tile tile--banner tile--has-footer is-clickable tile--whiteText"
                data-controller="generic/ui/ClickableTile">
                <div class="tile__backgroundImage">
                    <picture class="">
                        <source
                            srcset="https://ns.nl/binaries/_ht_1448441665491/vierkantmedium/content/gallery/ns-nl/banner-type-a-afbeeldingen/hp_schapen.jpg"
                            media="(min-width: 640px)">
                        <source
                            srcset="https://ns.nl/binaries/_ht_1448441665491/vierkantsmall/content/gallery/ns-nl/banner-type-a-afbeeldingen/hp_schapen.jpg"
                            media="(min-width: 0px)">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                            alt="" class="img--contain">
                    </picture>
                </div>
                <div class="tile__content">
                    <div class="tile__bannerContent">
                        <h3 class="tile__bannerHeading tile__bannerHeading--strong">NS-Wandelingen</h3>
                        <p class="tile__bannerSubheading">De mooiste routes, goed bereikbaar</p>
                    </div>
                </div>
                <div class="tile__footer">
                    <a href="/dagje-uit/wandelen" class="button button--primary " data-type="cms-Button"
                        title="Bekijk alle NS-wandelingen"
                        data-eventdata="{&quot;data&quot;:{&quot;link_creative&quot;:&quot;tegel&quot;,&quot;link_data&quot;:{&quot;buttontype&quot;:&quot;button--primary&quot;,&quot;layout&quot;:&quot;blokje&quot;,&quot;name&quot;:&quot;ns-wandelingen_1x2&quot;,&quot;targetdocumentname&quot;:&quot;filter&quot;,&quot;targetdocumentpath&quot;:&quot;/content/documents/ns-nl/content/dagje-uit-nieuw/wandelen/filter/filter&quot;,&quot;type&quot;:&quot;banner&quot;},&quot;link_location&quot;:&quot;bannertegel&quot;,&quot;link_name&quot;:&quot;Bekijk ze allemaal&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/dagje-uit/wandelen&quot;},&quot;event&quot;:&quot;link_click&quot;}">Bekijk
                        ze allemaal</a>
                </div>
            </div>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 is-ready" data-responsivegrid-height-l="1.0"
            data-responsivegrid-height-m="1.0" data-type="cms-ArticleBannerTegelBlokje"
            data-responsivegrid-height-add-to-next-row="false" style="height: 382px;">
            <div class="tile tile--banner tile--has-footer is-clickable tile--whiteText"
                data-controller="generic/ui/ClickableTile">
                <div class="tile__backgroundImage">
                    <picture class="">
                        <source
                            srcset="https://ns.nl/binaries/_ht_1487339982477/vierkantmedium/content/gallery/ns-nl/banner-type-a-afbeeldingen/dagje-uit/wandelen-duitsland.jpg"
                            media="(min-width: 640px)">
                        <source
                            srcset="https://ns.nl/binaries/_ht_1487339982477/vierkantsmall/content/gallery/ns-nl/banner-type-a-afbeeldingen/dagje-uit/wandelen-duitsland.jpg"
                            media="(min-width: 0px)">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                            alt="" class="img--contain">
                    </picture>
                </div>
                <div class="tile__content">
                    <div class="tile__bannerContent">
                        <h3 class="tile__bannerHeading tile__bannerHeading--strong">Wandelen in Duitsland</h3>
                        <p class="tile__bannerSubheading">Door stad en natuur</p>
                    </div>
                </div>
                <div class="tile__footer">
                    <a href="https://www.nsinternational.nl/nl/wandelen/wandelen-in-duitsland?utm_source=ns.nl&amp;utm_medium=referral&amp;utm_content=dagje_uit&amp;utm_term=wandelen_duitsland"
                        class="button button--primary " target="_blank" rel="external noopener" data-type="cms-Button"
                        title="Wandelen in Duitsland"
                        data-eventdata="{&quot;data&quot;:{&quot;link_creative&quot;:&quot;tegel&quot;,&quot;link_data&quot;:{&quot;buttontype&quot;:&quot;button--primary&quot;,&quot;layout&quot;:&quot;blokje&quot;,&quot;name&quot;:&quot;wandelen-internationaal&quot;,&quot;type&quot;:&quot;banner&quot;},&quot;link_location&quot;:&quot;bannertegel&quot;,&quot;link_name&quot;:&quot;Laat u verrassen&quot;,&quot;link_type&quot;:&quot;external&quot;,&quot;link_value&quot;:&quot;https://www.nsinternational.nl/nl/wandelen/wandelen-in-duitsland?utm_source=ns.nl&amp;utm_medium=referral&amp;utm_content=dagje_uit&amp;utm_term=wandelen_duitsland&quot;},&quot;event&quot;:&quot;link_click&quot;}">Laat
                        u verrassen</a>
                </div>
            </div>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 is-ready" data-type="cms-ArticleWandelingDetailTegelAfbeelding"
            style="height: 382px;">
            <div class="tile tile--clickable is-clickable" data-controller="generic/ui/ClickableTile">
                <div class="tile__header tile__header--image">
                    <div class="tile__expander">
                        <picture class="">
                            <source
                                srcset="https://ns.nl/binaries/_ht_1553092773947/tegel/content/gallery/ns-nl/dagjeuit-hero-afbeeldingen/wandelingen/voetbrug-met-wandelaars-over-de-nette-ten-o.-van-leuth-5.jpg"
                                media="(min-width: 640px)">
                            <source
                                srcset="https://ns.nl/binaries/_ht_1553092773947/tegel/content/gallery/ns-nl/dagjeuit-hero-afbeeldingen/wandelingen/voetbrug-met-wandelaars-over-de-nette-ten-o.-van-leuth-5.jpg"
                                media="(min-width: 0px)">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                alt="" class="img--contain">
                        </picture>
                    </div>
                </div>
                <div class="tile__headerHolder">
                    <div class="tile__title">
                        <h3 class="tile__heading headingM">Krickenbecker Seen</h3>
                    </div>
                    <div class="tile__specs">
                        <p class="grey small">14 of 16,5&nbsp;km</p>
                    </div>
                </div>
                <div class="tile__content">
                    <p>
                        Van station Kaldenkirchen naar station Venlo
                    </p>
                </div>
                <div class="tile__footer">
                    <p>
                        <a href="/dagje-uit/wandelen/krickenbecker-seen.html" class="arrowLink"
                            title="Krickenbecker Seen"
                            data-eventdata="{&quot;data&quot;:{&quot;link_creative&quot;:&quot;tegel&quot;,&quot;link_location&quot;:&quot;wandeling_detailtegel&quot;,&quot;link_name&quot;:&quot;Bekijk de wandeling&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/dagje-uit/wandelen/krickenbecker-seen.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Bekijk
                            de wandeling</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 is-ready" data-type="cms-ArticleWandelingDetailTegelAfbeelding"
            style="height: 382px;">
            <div class="tile tile--clickable is-clickable" data-controller="generic/ui/ClickableTile">
                <div class="tile__header tile__header--image">
                    <div class="tile__expander">
                        <picture class="">
                            <source
                                srcset="https://ns.nl/binaries/_ht_1553095197886/tegel/content/gallery/ns-nl/dagjeuit-hero-afbeeldingen/wandelingen/omgeving-rhenen-uitkijkpunt-blauwe-kamer.jpg"
                                media="(min-width: 640px)">
                            <source
                                srcset="https://ns.nl/binaries/_ht_1553095197886/tegel/content/gallery/ns-nl/dagjeuit-hero-afbeeldingen/wandelingen/omgeving-rhenen-uitkijkpunt-blauwe-kamer.jpg"
                                media="(min-width: 0px)">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                alt="" class="img--contain">
                        </picture>
                    </div>
                </div>
                <div class="tile__headerHolder">
                    <div class="tile__title">
                        <h3 class="tile__heading headingM">Blauwe Kamer Rhenen</h3>
                    </div>
                    <div class="tile__specs">
                        <p class="grey small">10,5 tot 17,5&nbsp;km</p>
                    </div>
                </div>
                <div class="tile__content">
                    <p>
                        Rondwandeling vanaf station Rhenen
                    </p>
                </div>
                <div class="tile__footer">
                    <p>
                        <a href="/dagje-uit/wandelen/blauwe-kamer-rhenen.html" class="arrowLink"
                            title="Blauwe Kamer Rhenen"
                            data-eventdata="{&quot;data&quot;:{&quot;link_creative&quot;:&quot;tegel&quot;,&quot;link_location&quot;:&quot;wandeling_detailtegel&quot;,&quot;link_name&quot;:&quot;Bekijk de wandeling&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/dagje-uit/wandelen/blauwe-kamer-rhenen.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Bekijk
                            de wandeling</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>