<div class="container container--section">
    <div class="tile filterLanding__intro">
        <div class="s-4-4 m-12-12 l-6-12 xl-7-12">
            <div class="tile__header">
                <header class="headingGroup" data-type="cms-ArticleHeader">
                    <h1 class="headingM">Dagje Uit</h1>
                    <h2 class="headingXL">Een ontspannen dagje uit met de trein</h2>
                </header>
            </div>
            <div class="tile__content">
                <p>Ontdek de leukste en voordeligste uitjes met de trein of maak een NS-wandeling van station tot
                    station.</p>
            </div>
        </div>
        <hr class="articleSeparator articleSeparator--fullWidth s-hidden m-visible m-12-12 l-6-12 xl-7-12">
        <div class="m-12-12 l-12-12 xl-7-12">
            <div class="tile__footer">
                <ul class="list list--horizontal">
                    <li class="list__item">
                        <a href="/spoordeelwinkel" class="arrowLink " target="_blank" rel="noopener"
                            data-type="cms-Button"
                            data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;positie&quot;:1,&quot;targetdocumentname&quot;:&quot;homepage&quot;,&quot;targetdocumentpath&quot;:&quot;/content/documents/spoordeelwinkel-nl/content/homepage/homepage&quot;,&quot;type&quot;:&quot;toplinks&quot;},&quot;link_location&quot;:&quot;toplinks&quot;,&quot;link_name&quot;:&quot;Spoordeelwinkel&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/spoordeelwinkel&quot;},&quot;event&quot;:&quot;link_click&quot;}">Spoordeelwinkel</a>
                    </li>
                    <li class="list__item">
                        <a href="/dagje-uit/wandelen" class="arrowLink " data-type="cms-Button"
                            data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;positie&quot;:2,&quot;targetdocumentname&quot;:&quot;filter&quot;,&quot;targetdocumentpath&quot;:&quot;/content/documents/ns-nl/content/dagje-uit-nieuw/wandelen/filter/filter&quot;,&quot;type&quot;:&quot;toplinks&quot;},&quot;link_location&quot;:&quot;toplinks&quot;,&quot;link_name&quot;:&quot;NS wandelingen&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/dagje-uit/wandelen&quot;},&quot;event&quot;:&quot;link_click&quot;}">NS
                            wandelingen</a>
                    </li>
                    <li class="list__item">
                        <a href="https://www.nsfavourites.nl/?utm_medium=referral&amp;utm_source=ns&amp;utm_campaign=dagje-uit&amp;utm_term=link-ontdek-meer"
                            class="arrowLink " rel="external" data-type="cms-Button"
                            data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;positie&quot;:3,&quot;type&quot;:&quot;toplinks&quot;},&quot;link_location&quot;:&quot;toplinks&quot;,&quot;link_name&quot;:&quot;Stedentrips&quot;,&quot;link_type&quot;:&quot;external&quot;,&quot;link_value&quot;:&quot;https://www.nsfavourites.nl/?utm_medium=referral&amp;utm_source=ns&amp;utm_campaign=dagje-uit&amp;utm_term=link-ontdek-meer&quot;},&quot;event&quot;:&quot;link_click&quot;}">Stedentrips</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>