<div class="container a a-fi a-del-100" data-type="cms-HeroContainer">
    <div class="hero hero--homepage hero--noOverlap" data-noindex="true" data-observe-mutations="true"
        data-controller="generic/ui/ClientsideHero">
        <div class="heroflow is-clickable" data-type="cms-HeroFlow" data-controller="generic/ui/ClickableTile">
            <div class="container heroflow__container">
                <div class="grid">
                    <div class="grid__unit s-4-4 m-10-12 ml-7-12 l-6-12">
                        <div class="heroflow__content heroflow__content--blue">
                            <h3 class="heroflow__heading headingXL"> Onbeperkt reizen in het weekend zolang je wilt
                            </h3>
                            <p class="heroflow__subheading headingS s-hidden m-visible"> Met NS Flex kun je maandelijks
                                van abonnement wisselen. </p>
                            <a href="https://www.ns.nl/nsflex/webshop " class="button button--brand heroflow__button "
                                data-type="cms-Button" title="Ik wil NS Flex"
                                data-eventdata="{&quot;category&quot;:&quot;userinteractie/clicks/DMP_DynamicHeader&quot;,&quot;data&quot;:{&quot;linkname&quot;:&quot;Ik wil NS Flex&quot;,&quot;linktype&quot;:&quot;link&quot;,&quot;name&quot;:&quot;1062_194&quot;,&quot;path&quot;:&quot;https://www.ns.nl/nsflex/webshop &quot;,&quot;targetdocumentname&quot;:&quot;index&quot;,&quot;targetdocumentpath&quot;:&quot;https://www.ns.nl/nsflex/webshop &quot;,&quot;targettype&quot;:&quot;internal&quot;,&quot;title&quot;:&quot;Onbeperkt reizen in het weekend zolang je wilt&quot;,&quot;key&quot;:&quot;ns-flex-weekend-vrij&quot;,&quot;segment&quot;:&quot;1062_194&quot;,&quot;exp&quot;:&quot;exp&quot;,&quot;type&quot;:&quot;hero&quot;,&quot;url&quot;:&quot;https://www.ns.nl/nsflex/webshop &quot;},&quot;eventname&quot;:&quot;click&quot;}">Ik
                                wil NS Flex</a>
                        </div>
                    </div>
                </div>
            </div>
            <picture class="heroflow__picture">
                <source srcset="https://a.svtrd.com/media/s/1062/2/flexlossetickets/flex-1400x480.jpg"
                    media="(min-width: 912px)">
                <source srcset="https://a.svtrd.com/media/s/1062/2/flexlossetickets/flex-912x480.jpg"
                    media="(min-width: 640px)">
                <source srcset="https://a.svtrd.com/media/s/1062/2/flexlossetickets/flex-640x300.jpg"
                    media="(min-width: 0px)">
                <img src="https://a.svtrd.com/media/s/1062/2/flexlossetickets/flex-1400x480.jpg" alt=""
                    class="img--contain">
            </picture>
            <div class="heroflow__overlay heroflow__overlay--solidWhite">
                <svg class="heroflow__overlay-svg" preserveAspectRatio="xMinYMin meet"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 767 423">
                    <defs>
                        <style>
                            .cls-3-1 {
                                fill: none;
                            }

                            .cls-3-2 {
                                clip-path: url(#clip-path-3);
                            }

                            .cls-3-3 {
                                fill: url(#linear-gradient-3);
                            }
                        </style>
                        <clipPath id="clip-path-3" transform="translate(-0.331)">
                            <path class="cls-3-1"
                                d="M0,423.5H4.523c111.477,0,212.584-43.107,289.315-119.838L477.662,119.838C554.393,43.107,655.954,0,766.977,0H0Z">
                            </path>
                        </clipPath>
                        <linearGradient id="linear-gradient-3" y1="211.5" x2="767" y2="211.5"
                            gradientUnits="userSpaceOnUse">
                            <stop class="heroflow__overlay-start" offset="0" stop-color="currentColor"></stop>
                            <stop class="heroflow__overlay-stop" offset="1" stop-color="currentColor"></stop>
                        </linearGradient>
                    </defs>
                    <g class="cls-3-2">
                        <rect class="cls-3-3 heroflow__overlay-gradient" width="767" height="423"></rect>
                    </g>
                </svg>
            </div>
        </div>
    </div>
</div>