<div class="container container--section" data-type="cms-SecundairGrid" data-noindex="true">
    <div class="grid" data-controller="generic/ui/ResponsiveGrid" data-type="cms-DragDropGrid">
        <div class="grid__unit grid__unit--divider s-4-4 m-12-12 l-12-12 gridHeader"
            data-responsivegrid-noequalize="true" data-type="cms-ArticleDragDropTitel">
            <h2 class="headingXL gridHeader__heading">Onze suggesties</h2>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-8-12 is-ready" data-responsivegrid-height-l="1.0"
            data-responsivegrid-height-m="1.0" data-type="cms-ArticleBannerTegelLiggend"
            data-responsivegrid-height-add-to-next-row="false" style="height: 358px;">
            <div class="tile tile--banner tile--has-footer is-clickable tile--whiteText tile--bannerContentLeft"
                data-controller="generic/ui/ClickableTile">
                <div class="tile__backgroundImage">
                    <picture class="">
                        <source
                            srcset="https://ns.nl/binaries/_ht_1569842556965/liggend/content/gallery/ns-nl/banner-type-a-afbeeldingen/home/ns-kinderboekenruil.jpg"
                            media="(min-width: 912px)">
                        <source
                            srcset="https://ns.nl/binaries/_ht_1570003141262/vierkantmedium/content/gallery/ns-nl/banner-type-a-afbeeldingen/home/ns-kinderboekenruil.jpg"
                            media="(min-width: 640px)">
                        <source
                            srcset="https://ns.nl/binaries/_ht_1570003167825/vierkantsmall/content/gallery/ns-nl/banner-type-a-afbeeldingen/home/ns-kinderboekenruil.jpg"
                            media="(min-width: 0px)">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                            alt="" class="img--contain">
                    </picture>
                </div>
                <div class="tile__content">
                    <div class="tile__bannerContent">
                        <h3 class="tile__bannerHeading tile__bannerHeading--strong">NS Kinderboekenruil</h3>
                        <p class="tile__bannerSubheading">Zondag 13 oktober</p>
                    </div>
                </div>
                <div class="tile__footer">
                    <a href="/uitgelicht/tijd-voor-lezen/kinderboekenruil.html" class="button button--brand "
                        data-type="cms-Button" title="Kom je ook? Lees hier meer."
                        data-eventdata="{&quot;data&quot;:{&quot;link_creative&quot;:&quot;tegel&quot;,&quot;link_data&quot;:{&quot;buttontype&quot;:&quot;button--brand&quot;,&quot;layout&quot;:&quot;liggend&quot;,&quot;name&quot;:&quot;kinderboekenweek&quot;,&quot;targetdocumentname&quot;:&quot;kinderboekenruil&quot;,&quot;targetdocumentpath&quot;:&quot;/content/documents/ns-nl/content/uitgelicht/tijd-voor-lezen/kinderboekenruil/kinderboekenruil&quot;,&quot;type&quot;:&quot;banner&quot;},&quot;link_location&quot;:&quot;bannertegel&quot;,&quot;link_name&quot;:&quot;Kom je ook?&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/uitgelicht/tijd-voor-lezen/kinderboekenruil.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Kom
                        je ook?</a>
                </div>
            </div>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 is-ready" data-type="cms-ArticleLinklijstTegel"
            style="height: 358px;">
            <div class="tile ">
                <div class="tile__title">
                    <h3 class="tile__heading headingM">De leukste uitjes
                    </h3>
                </div>
                <div class="tile__content">
                    <ul class="list list--specs">
                        <li class="list__item" data-type="cms-Link">
                            <a href="/spoordeelwinkel/uitjes/landelijkedeal-2eklas.html" class="arrowLink"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:1,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;sdw-leukste-uitjes&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/homepage/sdw-leukste-uitjes/sdw-leukste-uitjes&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Dagretour naar keuze + lunch € 19&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/spoordeelwinkel/uitjes/landelijkedeal-2eklas.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Dagretour
                                naar keuze + lunch € 19</a>
                        </li>
                        <li class="list__item" data-type="cms-Link">
                            <a href="/spoordeelwinkel/uitjes/margriet-winterfair.html" class="arrowLink"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:2,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;sdw-leukste-uitjes&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/homepage/sdw-leukste-uitjes/sdw-leukste-uitjes&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Trein + Margriet Winterfair € 29&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/spoordeelwinkel/uitjes/margriet-winterfair.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Trein
                                + Margriet Winterfair € 29</a>
                        </li>
                        <li class="list__item" data-type="cms-Link">
                            <a href="/spoordeelwinkel/uitjes/rondvaart-amsterdam-lovers.html" class="arrowLink"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:3,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;sdw-leukste-uitjes&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/homepage/sdw-leukste-uitjes/sdw-leukste-uitjes&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Trein + Rondvaart Amsterdam € 24&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/spoordeelwinkel/uitjes/rondvaart-amsterdam-lovers.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Trein
                                + Rondvaart Amsterdam € 24</a>
                        </li>
                        <li class="list__item" data-type="cms-Link">
                            <a href="/spoordeelwinkel/uitjes/burgers-zoo-arnhem.html" class="arrowLink"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:4,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;sdw-leukste-uitjes&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/homepage/sdw-leukste-uitjes/sdw-leukste-uitjes&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Trein + Burgers' Zoo € 34&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/spoordeelwinkel/uitjes/burgers-zoo-arnhem.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Trein
                                + Burgers' Zoo € 34</a>
                        </li>
                        <li class="list__item" data-type="cms-Link">
                            <a href="/spoordeelwinkel/uitjes/rijksmuseum.html" class="arrowLink"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:5,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;sdw-leukste-uitjes&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/homepage/sdw-leukste-uitjes/sdw-leukste-uitjes&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Trein + Rijksmuseum € 35&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/spoordeelwinkel/uitjes/rijksmuseum.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Trein
                                + Rijksmuseum € 35</a>
                        </li>
                    </ul>
                </div>
                <div class="tile__footer">
                    <p class="separator--top">
                        <a href="/spoordeelwinkel/alle-uitjes" class="arrowLink"
                            data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linktype&quot;:&quot;standaard&quot;,&quot;name&quot;:&quot;sdw-leukste-uitjes&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/homepage/sdw-leukste-uitjes/sdw-leukste-uitjes&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Bekijk alle dagjes uit&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/spoordeelwinkel/alle-uitjes&quot;},&quot;event&quot;:&quot;link_click&quot;}">Bekijk
                            alle dagjes uit</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 is-ready" data-type="cms-ArticleLinklijstTegel"
            style="height: 358px;">
            <div class="tile  tile--tilegraphic">
                <div class="tile__title">
                    <h3 class="tile__heading headingM">Veelgezocht
                        <span class="tile__graphic tilegraphic tilegraphic--audience-large tilegraphic--nsBlue"></span>
                    </h3>
                </div>
                <div class="tile__content">
                    <ul class="list list--specs">
                        <li class="list__item" data-type="cms-Link">
                            <a href="/flex" class="arrowLink"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:1,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;meest-gezocht&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/reisinformatie/meest-gezocht/meest-gezocht&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;NS Flex&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/flex&quot;},&quot;event&quot;:&quot;link_click&quot;}">NS
                                Flex</a>
                        </li>
                        <li class="list__item" data-type="cms-Link">
                            <a href="/uitgelicht/interessant-voor-u/waarschuwing-phishingmails.html" class="arrowLink"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:2,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;meest-gezocht&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/reisinformatie/meest-gezocht/meest-gezocht&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Valse e-mails herkennen&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/uitgelicht/interessant-voor-u/waarschuwing-phishingmails.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Valse
                                e-mails herkennen</a>
                        </li>
                        <li class="list__item" data-type="cms-Link">
                            <a href="/reisinformatie/reizen-met-ov-chipkaart" class="arrowLink"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:3,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;meest-gezocht&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/reisinformatie/meest-gezocht/meest-gezocht&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Reizen met een OV-chipkaart&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/reisinformatie/reizen-met-ov-chipkaart&quot;},&quot;event&quot;:&quot;link_click&quot;}">Reizen
                                met een OV-chipkaart</a>
                        </li>
                        <li class="list__item" data-type="cms-Link">
                            <a href="/klantenservice/wijzigen/klasse-wisselen.html" class="arrowLink"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:4,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;meest-gezocht&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/reisinformatie/meest-gezocht/meest-gezocht&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Klassewissel&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/klantenservice/wijzigen/klasse-wisselen.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Klassewissel</a>
                        </li>
                        <li class="list__item" data-type="cms-Link">
                            <a href="/klantenservice/betalen/couponcode-verzilveren.html" class="arrowLink"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:5,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;meest-gezocht&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/reisinformatie/meest-gezocht/meest-gezocht&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Couponcode inwisselen&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/klantenservice/betalen/couponcode-verzilveren.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Couponcode
                                inwisselen</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 is-ready" data-responsivegrid-height-l="1.0"
            data-responsivegrid-height-m="1.0" data-type="cms-ArticleBannerTegelBlokje"
            data-responsivegrid-height-add-to-next-row="false" style="height: 358px;">
            <div class="tile tile--banner tile--has-footer is-clickable tile--whiteText"
                data-controller="generic/ui/ClickableTile">
                <div class="tile__backgroundImage">
                    <picture class="">
                        <source
                            srcset="https://ns.nl/binaries/_ht_1568186053563/vierkantmedium/content/gallery/ns-nl/banner-type-a-afbeeldingen/home/zakelijk-nsi.jpg"
                            media="(min-width: 640px)">
                        <source
                            srcset="https://ns.nl/binaries/_ht_1568185472270/vierkantsmall/content/gallery/ns-nl/banner-type-a-afbeeldingen/home/zakelijk-nsi.jpg"
                            media="(min-width: 0px)">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                            alt="" class="img--contain">
                    </picture>
                </div>
                <div class="tile__content">
                    <div class="tile__bannerContent">
                        <h3 class="tile__bannerHeading"><strong>Wat zou jij doen met 3 uur helemaal niets?</strong></h3>
                    </div>
                </div>
                <div class="tile__footer">
                    <a href="https://www.nsinternational.nl/nl/zakelijk/reistijd?utm_source=ns.nl&amp;utm_medium=referral&amp;utm_campaign=zak_2019_01&amp;utm_content=zakelijk2&amp;utm_term=3uurniets"
                        class="button button--brand " target="_blank" rel="external noopener" data-type="cms-Button"
                        title="Ervaar het zelf"
                        data-eventdata="{&quot;data&quot;:{&quot;link_creative&quot;:&quot;tegel&quot;,&quot;link_data&quot;:{&quot;buttontype&quot;:&quot;button--brand&quot;,&quot;layout&quot;:&quot;blokje&quot;,&quot;name&quot;:&quot;zakelijk-nsi&quot;,&quot;type&quot;:&quot;banner&quot;},&quot;link_location&quot;:&quot;bannertegel&quot;,&quot;link_name&quot;:&quot;Ervaar het zelf&quot;,&quot;link_type&quot;:&quot;external&quot;,&quot;link_value&quot;:&quot;https://www.nsinternational.nl/nl/zakelijk/reistijd?utm_source=ns.nl&amp;utm_medium=referral&amp;utm_campaign=zak_2019_01&amp;utm_content=zakelijk2&amp;utm_term=3uurniets&quot;},&quot;event&quot;:&quot;link_click&quot;}">Ervaar
                        het zelf</a>
                </div>
            </div>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 is-ready" data-responsivegrid-height-l="1.0"
            data-responsivegrid-height-m="1.0" data-type="cms-ArticleBannerTegelBlokje"
            data-responsivegrid-height-add-to-next-row="false" style="height: 358px;">
            <div class="tile tile--banner tile--has-footer is-clickable tile--whiteText"
                data-controller="generic/ui/ClickableTile">
                <div class="tile__backgroundImage">
                    <picture class="">
                        <source
                            srcset="https://ns.nl/binaries/_ht_1565592317026/vierkantmedium/content/gallery/ns-nl/banner-type-a-afbeeldingen/ns-extra/nsextra6.jpg"
                            media="(min-width: 640px)">
                        <source
                            srcset="https://ns.nl/binaries/_ht_1565592328641/vierkantsmall/content/gallery/ns-nl/banner-type-a-afbeeldingen/ns-extra/nsextra6.jpg"
                            media="(min-width: 0px)">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                            alt="" class="img--contain">
                    </picture>
                </div>
                <div class="tile__content">
                    <div class="tile__bannerContent">
                        <h3 class="tile__bannerHeading"><strong>Nooit meer vergeten uit te checken</strong> met&nbsp;NS
                            Extra&nbsp;</h3>
                    </div>
                </div>
                <div class="tile__footer">
                    <a href="/uitgelicht/ns-extra" class="button button--brand " target="_blank" rel="noopener"
                        data-type="cms-Button"
                        data-eventdata="{&quot;data&quot;:{&quot;link_creative&quot;:&quot;tegel&quot;,&quot;link_data&quot;:{&quot;buttontype&quot;:&quot;button--brand&quot;,&quot;layout&quot;:&quot;blokje&quot;,&quot;name&quot;:&quot;ns-extra&quot;,&quot;targetdocumentname&quot;:&quot;index&quot;,&quot;targetdocumentpath&quot;:&quot;/content/documents/ns-nl/content/uitgelicht/ns-extra/index/index&quot;,&quot;type&quot;:&quot;banner&quot;},&quot;link_location&quot;:&quot;bannertegel&quot;,&quot;link_name&quot;:&quot;Aanmelden&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/uitgelicht/ns-extra&quot;},&quot;event&quot;:&quot;link_click&quot;}">Aanmelden</a>
                </div>
            </div>
        </div>
        <div class="grid__unit grid__unit--divider s-4-4 m-12-12 l-12-12 gridHeader"
            data-responsivegrid-noequalize="true" data-type="cms-ArticleDragDropTitel">
            <h2 class="headingXL gridHeader__heading">Dagje Uit</h2>
            <a href="/dagje-uit" class="arrowLink gridHeader__link" title="Alle dagjes uit"
                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;targetdocumentname&quot;:&quot;index&quot;,&quot;targetdocumentpath&quot;:&quot;/content/documents/ns-nl/content/dagje-uit-nieuw/index/index&quot;,&quot;title&quot;:&quot;Dagje Uit&quot;},&quot;link_location&quot;:&quot;dragdroptitel&quot;,&quot;link_name&quot;:&quot;Alle dagjes uit&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/dagje-uit&quot;},&quot;event&quot;:&quot;link_click&quot;}">Alle
                dagjes uit</a>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 is-ready" data-responsivegrid-height-l="1.0"
            data-responsivegrid-height-m="1.0" data-type="cms-ArticleBannerTegelBlokje"
            data-responsivegrid-height-add-to-next-row="false" style="height: 382px;">
            <div class="tile tile--banner tile--has-footer is-clickable tile--whiteText"
                data-controller="generic/ui/ClickableTile">
                <div class="tile__backgroundImage">
                    <picture class="">
                        <source
                            srcset="https://ns.nl/binaries/_ht_1567159861331/vierkantmedium/content/gallery/ns-nl/banner-type-a-afbeeldingen/dagje-uit/efteling-pardoes-met-kindje.jpg"
                            media="(min-width: 640px)">
                        <source
                            srcset="https://ns.nl/binaries/_ht_1567159861331/vierkantsmall/content/gallery/ns-nl/banner-type-a-afbeeldingen/dagje-uit/efteling-pardoes-met-kindje.jpg"
                            media="(min-width: 0px)">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                            alt="" class="img--contain">
                    </picture>
                </div>
                <div class="tile__content">
                    <div class="tile__bannerContent">
                        <h3 class="tile__bannerHeading tile__bannerHeading--strong">Efteling</h3>
                        <p class="tile__bannerSubheading">Een wereld vol wonderen</p>
                    </div>
                </div>
                <div class="tile__footer">
                    <a href="/spoordeelwinkel/uitjes/efteling.html" class="button button--brand "
                        data-type="cms-Button"
                        data-eventdata="{&quot;data&quot;:{&quot;link_creative&quot;:&quot;tegel&quot;,&quot;link_data&quot;:{&quot;buttontype&quot;:&quot;button--brand&quot;,&quot;layout&quot;:&quot;blokje&quot;,&quot;name&quot;:&quot;pretpark&quot;,&quot;targetdocumentname&quot;:&quot;efteling&quot;,&quot;targetdocumentpath&quot;:&quot;/content/documents/spoordeelwinkel-nl/content/uitjes/efteling/efteling&quot;,&quot;type&quot;:&quot;banner&quot;},&quot;link_location&quot;:&quot;bannertegel&quot;,&quot;link_name&quot;:&quot;Bekijk aanbieding&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/spoordeelwinkel/uitjes/efteling.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Bekijk
                        aanbieding</a>
                </div>
            </div>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 is-ready" data-type="cms-ArticleWandelingDetailTegelAfbeelding"
            style="height: 382px;">
            <div class="tile tile--clickable is-clickable" data-controller="generic/ui/ClickableTile">
                <div class="tile__header tile__header--image">
                    <div class="tile__expander">
                        <picture class="">
                            <source
                                srcset="https://ns.nl/binaries/_ht_1551787668809/tegel/content/gallery/ns-nl/dagjeuit-hero-afbeeldingen/wandelingen/fort-erfprins-tussen-huisduinen-en-den-helder.jpg"
                                media="(min-width: 640px)">
                            <source
                                srcset="https://ns.nl/binaries/_ht_1551787668809/tegel/content/gallery/ns-nl/dagjeuit-hero-afbeeldingen/wandelingen/fort-erfprins-tussen-huisduinen-en-den-helder.jpg"
                                media="(min-width: 0px)">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                alt="" class="img--contain">
                        </picture>
                    </div>
                </div>
                <div class="tile__headerHolder">
                    <div class="tile__title">
                        <h3 class="tile__heading headingM">Helderse Duinen</h3>
                    </div>
                    <div class="tile__specs">
                        <p class="grey small">9,5 tot 15,5&nbsp;km</p>
                    </div>
                </div>
                <div class="tile__content">
                    <p>
                        Van station Den Helder Zuid naar station Den Helder
                    </p>
                </div>
                <div class="tile__footer">
                    <p>
                        <a href="/dagje-uit/wandelen/helderse-duinen.html" class="arrowLink" title="Helderse Duinen"
                            data-eventdata="{&quot;data&quot;:{&quot;link_creative&quot;:&quot;tegel&quot;,&quot;link_location&quot;:&quot;wandeling_detailtegel&quot;,&quot;link_name&quot;:&quot;Bekijk de wandeling&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/dagje-uit/wandelen/helderse-duinen.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Bekijk
                            de wandeling</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 is-ready" data-type="cms-ArticleWandelingDetailTegelAfbeelding"
            style="height: 382px;">
            <div class="tile tile--clickable is-clickable" data-controller="generic/ui/ClickableTile">
                <div class="tile__header tile__header--image">
                    <div class="tile__expander">
                        <picture class="">
                            <source
                                srcset="https://ns.nl/binaries/_ht_1553090496403/tegel/content/gallery/ns-nl/dagjeuit-hero-afbeeldingen/wandelingen/ns-wandeling-gein-en-vecht.jpg"
                                media="(min-width: 640px)">
                            <source
                                srcset="https://ns.nl/binaries/_ht_1553090496403/tegel/content/gallery/ns-nl/dagjeuit-hero-afbeeldingen/wandelingen/ns-wandeling-gein-en-vecht.jpg"
                                media="(min-width: 0px)">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                alt="" class="img--contain">
                        </picture>
                    </div>
                </div>
                <div class="tile__headerHolder">
                    <div class="tile__title">
                        <h3 class="tile__heading headingM">Gein en Vecht</h3>
                    </div>
                    <div class="tile__specs">
                        <p class="grey small">6 tot 14&nbsp;km</p>
                    </div>
                </div>
                <div class="tile__content">
                    <p>
                        Van station Abcoude naar station Weesp
                    </p>
                </div>
                <div class="tile__footer">
                    <p>
                        <a href="/dagje-uit/wandelen/gein-en-vecht.html" class="arrowLink" title="Gein en Vecht"
                            data-eventdata="{&quot;data&quot;:{&quot;link_creative&quot;:&quot;tegel&quot;,&quot;link_location&quot;:&quot;wandeling_detailtegel&quot;,&quot;link_name&quot;:&quot;Bekijk de wandeling&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/dagje-uit/wandelen/gein-en-vecht.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Bekijk
                            de wandeling</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 is-ready" data-type="cms-ArticleWandelingDetailTegelAfbeelding"
            style="height: 399px;">
            <div class="tile tile--clickable is-clickable" data-controller="generic/ui/ClickableTile">
                <div class="tile__header tile__header--image">
                    <div class="tile__expander">
                        <picture class="">
                            <source
                                srcset="https://ns.nl/binaries/_ht_1553092773947/tegel/content/gallery/ns-nl/dagjeuit-hero-afbeeldingen/wandelingen/voetbrug-met-wandelaars-over-de-nette-ten-o.-van-leuth-5.jpg"
                                media="(min-width: 640px)">
                            <source
                                srcset="https://ns.nl/binaries/_ht_1553092773947/tegel/content/gallery/ns-nl/dagjeuit-hero-afbeeldingen/wandelingen/voetbrug-met-wandelaars-over-de-nette-ten-o.-van-leuth-5.jpg"
                                media="(min-width: 0px)">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                alt="" class="img--contain">
                        </picture>
                    </div>
                </div>
                <div class="tile__headerHolder">
                    <div class="tile__title">
                        <h3 class="tile__heading headingM">Krickenbecker Seen</h3>
                    </div>
                    <div class="tile__specs">
                        <p class="grey small">14 of 16,5&nbsp;km</p>
                    </div>
                </div>
                <div class="tile__content">
                    <p>
                        Van station Kaldenkirchen naar station Venlo
                    </p>
                </div>
                <div class="tile__footer">
                    <p>
                        <a href="/dagje-uit/wandelen/krickenbecker-seen.html" class="arrowLink"
                            title="Krickenbecker Seen"
                            data-eventdata="{&quot;data&quot;:{&quot;link_creative&quot;:&quot;tegel&quot;,&quot;link_location&quot;:&quot;wandeling_detailtegel&quot;,&quot;link_name&quot;:&quot;Bekijk de wandeling&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/dagje-uit/wandelen/krickenbecker-seen.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Bekijk
                            de wandeling</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 is-ready" data-type="cms-ArticlePrijsbanner" style="height: 399px;">
            <div class="tile is-clickable" data-controller="generic/ui/ClickableTile">
                <div class="tile__header tile__header--image">
                    <div class="tile__expander">
                        <picture class="">
                            <source
                                srcset="https://ns.nl/binaries/_ht_1567160755636/tegel/content/gallery/ns-nl/prijsbanner-afbeeldingen/spoordeelwinkel/bijenkorf-shoppen.jpg"
                                media="(min-width: 0px)">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                alt="" class="img--contain">
                        </picture>
                    </div>
                </div>
                <div class="tile__headerHolder">
                    <div class="tile__title">
                        <h3 class="tile__heading headingM">
                            1e klas deal Bijenkorf
                        </h3>
                    </div>
                    <div class="tile__label">
                        <p>Spoordeelwinkel</p>
                    </div>
                </div>
                <div class="tile__content">
                    <p>
                        Dagretour 1e klas + koffie en gebak
                    </p>
                    <div class="pricedetails pricedetails--xlarge">
                        <p>
                            <span class="pricedetails__price" style="margin-right: 0px;">
                                € 26
                            </span>
                        </p>
                    </div>
                </div>
                <div class="tile__footer">
                    <p>
                        <a href="/spoordeelwinkel/uitjes/landelijkedeal-1eklas.html" class="arrowLink"
                            title="1e klas deal Bijenkorf € 26" target="_blank" rel="noopener"
                            data-eventdata="{&quot;data&quot;:{&quot;link_creative&quot;:&quot;tegel&quot;,&quot;link_data&quot;:{&quot;name&quot;:&quot;sdw-uitje-homepage&quot;},&quot;link_location&quot;:&quot;prijsbanner&quot;,&quot;link_name&quot;:&quot;Bekijk aanbieding&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/spoordeelwinkel/uitjes/landelijkedeal-1eklas.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Bekijk
                            aanbieding</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 is-ready" data-responsivegrid-height-l="1.0"
            data-responsivegrid-height-m="1.0" data-type="cms-ArticleBannerTegelBlokje"
            data-responsivegrid-height-add-to-next-row="false" style="height: 399px;">
            <div class="tile tile--banner tile--has-footer is-clickable tile--whiteText"
                data-controller="generic/ui/ClickableTile">
                <div class="tile__backgroundImage">
                    <picture class="">
                        <source
                            srcset="https://ns.nl/binaries/_ht_1551363211620/vierkantmedium/content/gallery/ns-nl/banner-type-a-afbeeldingen/dagje-uit/amsterdam-grachten.jpg"
                            media="(min-width: 640px)">
                        <source
                            srcset="https://ns.nl/binaries/_ht_1551363211620/vierkantsmall/content/gallery/ns-nl/banner-type-a-afbeeldingen/dagje-uit/amsterdam-grachten.jpg"
                            media="(min-width: 0px)">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                            alt="" class="img--contain">
                    </picture>
                </div>
                <div class="tile__content">
                    <div class="tile__bannerContent">
                        <h3 class="tile__bannerHeading"><strong>Een nachtje weg</strong>&nbsp;naar jouw favoriete stad
                            in Nederland</h3>
                    </div>
                </div>
                <div class="tile__footer">
                    <a href="/spoordeelwinkel/nachtje-weg" class="button button--brand " target="_blank"
                        rel="noopener" data-type="cms-Button"
                        data-eventdata="{&quot;data&quot;:{&quot;link_creative&quot;:&quot;tegel&quot;,&quot;link_data&quot;:{&quot;buttontype&quot;:&quot;button--brand&quot;,&quot;layout&quot;:&quot;blokje&quot;,&quot;name&quot;:&quot;sdw-uitgelicht-2-x-1&quot;,&quot;targetdocumentname&quot;:&quot;nachtje-weg&quot;,&quot;targetdocumentpath&quot;:&quot;/content/documents/spoordeelwinkel-nl/content/categorieen/nachtje-weg/nachtje-weg&quot;,&quot;type&quot;:&quot;banner&quot;},&quot;link_location&quot;:&quot;bannertegel&quot;,&quot;link_name&quot;:&quot;Bekijk onze tips&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/spoordeelwinkel/nachtje-weg&quot;},&quot;event&quot;:&quot;link_click&quot;}">Bekijk
                        onze tips</a>
                </div>
            </div>
        </div>
    </div>
</div>