<div class="container container--section" data-type="cms-PrimairGrid" data-noindex="true">
    <div class="grid" data-controller="generic/ui/ResponsiveGrid" data-type="cms-DragDropGrid">
        <div class="grid__unit s-4-4 m-6-12 l-4-12 is-ready" data-type="cms-ArticleLinklijstTegel"
            style="height: 364px;">
            <div class="tile  tile--tilegraphic">
                <div class="tile__title">
                    <h3 class="tile__heading headingM">Producten
                        <span class="tile__graphic tilegraphic tilegraphic--products-large tilegraphic--nsBlue"></span>
                    </h3>
                </div>
                <div class="tile__content">
                    <ul class="list list--specs">
                        <li class="list__item" data-type="cms-Link">
                            <a href="/producten/losse-kaartjes-toeslagen" class="arrowLink"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:1,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;producten&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/homepage/producten/producten&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Online een kaartje kopen&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/producten/losse-kaartjes-toeslagen&quot;},&quot;event&quot;:&quot;link_click&quot;}">Online
                                een kaartje kopen</a>
                        </li>
                        <li class="list__item" data-type="cms-Link">
                            <a href="/abonnementen" class="arrowLink"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:2,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;producten&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/homepage/producten/producten&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Abonnementen&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/abonnementen&quot;},&quot;event&quot;:&quot;link_click&quot;}">Abonnementen</a>
                        </li>
                        <li class="list__item" data-type="cms-Link">
                            <a href="/spoordeelwinkel" class="arrowLink" target="_blank" rel="noopener"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:3,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;producten&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/homepage/producten/producten&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Spoordeelwinkel: Trein + Uitje&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/spoordeelwinkel&quot;},&quot;event&quot;:&quot;link_click&quot;}">Spoordeelwinkel:
                                Trein + Uitje</a>
                        </li>
                        <li class="list__item" data-type="cms-Link">
                            <a href="/deur-tot-deur" class="arrowLink"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:4,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;producten&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/homepage/producten/producten&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;OV-fiets &amp; meer&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/deur-tot-deur&quot;},&quot;event&quot;:&quot;link_click&quot;}">OV-fiets
                                &amp; meer</a>
                        </li>
                        <li class="list__item" data-type="cms-Link">
                            <a href="/dagje-uit" class="arrowLink"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:5,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;producten&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/homepage/producten/producten&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Voordelig dagje uit&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/dagje-uit&quot;},&quot;event&quot;:&quot;link_click&quot;}">Voordelig
                                dagje uit</a>
                        </li>
                        <li class="list__item" data-type="cms-Link">
                            <a href="https://www.nsinternational.nl/?utm_source=ns.nl&amp;utm_medium=referral&amp;utm_content=producten&amp;utm_term=internationale_treinkaartjes"
                                class="arrowLink" rel="external"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:6,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;producten&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/homepage/producten/producten&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Internationale treinkaartjes&quot;,&quot;link_type&quot;:&quot;external&quot;,&quot;link_value&quot;:&quot;https://www.nsinternational.nl/?utm_source=ns.nl&amp;utm_medium=referral&amp;utm_content=producten&amp;utm_term=internationale_treinkaartjes&quot;},&quot;event&quot;:&quot;link_click&quot;}">Internationale
                                treinkaartjes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 is-ready" data-type="cms-ArticleLinklijstTegel"
            style="height: 364px;">
            <div class="tile  tile--tilegraphic">
                <div class="tile__title">
                    <h3 class="tile__heading headingM">Klantenservice
                        <span
                            class="tile__graphic tilegraphic tilegraphic--customerservice-large tilegraphic--nsBlue"></span>
                    </h3>
                </div>
                <div class="tile__content">
                    <ul class="list list--specs">
                        <li class="list__item" data-type="cms-Link">
                            <a href="/klantenservice/vergeten/in-en-uitchecken-vergeten.html" class="arrowLink"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:1,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;klantenservice&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/homepage/klantenservice/klantenservice&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Vergeten uit te checken&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/klantenservice/vergeten/in-en-uitchecken-vergeten.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Vergeten
                                uit te checken</a>
                        </li>
                        <li class="list__item" data-type="cms-Link">
                            <a href="/klantenservice/geld-terug/geld-terug-reguliere-reizen.html" class="arrowLink"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:2,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;klantenservice&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/homepage/klantenservice/klantenservice&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Geld terug bij vertraging&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/klantenservice/geld-terug/geld-terug-reguliere-reizen.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Geld
                                terug bij vertraging</a>
                        </li>
                        <li class="list__item" data-type="cms-Link">
                            <a href="/reisinformatie/reizen-met-ov-chipkaart/samenreiskorting.html" class="arrowLink"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:3,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;klantenservice&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/homepage/klantenservice/klantenservice&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Samenreiskorting&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/reisinformatie/reizen-met-ov-chipkaart/samenreiskorting.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Samenreiskorting</a>
                        </li>
                        <li class="list__item" data-type="cms-Link">
                            <a href="/klantenservice/wijzigen/abonnement-wijzigen.html" class="arrowLink"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:4,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;klantenservice&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/homepage/klantenservice/klantenservice&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Abonnement wijzigen&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/klantenservice/wijzigen/abonnement-wijzigen.html&quot;},&quot;event&quot;:&quot;link_click&quot;}">Abonnement
                                wijzigen</a>
                        </li>
                        <li class="list__item" data-type="cms-Link">
                            <a href="/deur-tot-deur" class="arrowLink"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:5,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;klantenservice&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/homepage/klantenservice/klantenservice&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;De OV-fiets en fietsenstallingen&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/deur-tot-deur&quot;},&quot;event&quot;:&quot;link_click&quot;}">De
                                OV-fiets en fietsenstallingen</a>
                        </li>
                    </ul>
                </div>
                <div class="tile__footer">
                    <p class="separator--top">
                        <a href="/klantenservice" class="arrowLink"
                            data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linktype&quot;:&quot;standaard&quot;,&quot;name&quot;:&quot;klantenservice&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/homepage/klantenservice/klantenservice&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Alles over Klantenservice&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/klantenservice&quot;},&quot;event&quot;:&quot;link_click&quot;}">Alles
                            over Klantenservice</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 is-ready" data-type="cms-ArticleLinklijstTegel"
            style="height: 364px;">
            <div class="tile  tile--tilegraphic">
                <div class="tile__title">
                    <h3 class="tile__heading headingM">Speciaal voor...
                        <span class="tile__graphic tilegraphic tilegraphic--audience-large tilegraphic--nsBlue"></span>
                    </h3>
                </div>
                <div class="tile__content">
                    <ul class="list list--specs">
                        <li class="list__item" data-type="cms-Link">
                            <a href="/zakelijk" class="arrowLink"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:1,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;speciaal-voor&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/homepage/speciaal-voor/speciaal-voor&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Zakelijke reizigers en bedrijven&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/zakelijk&quot;},&quot;event&quot;:&quot;link_click&quot;}">Zakelijke
                                reizigers en bedrijven</a>
                        </li>
                        <li class="list__item" data-type="cms-Link">
                            <a href="/studenten" class="arrowLink"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:2,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;speciaal-voor&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/homepage/speciaal-voor/speciaal-voor&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Studenten&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/studenten&quot;},&quot;event&quot;:&quot;link_click&quot;}">Studenten</a>
                        </li>
                        <li class="list__item" data-type="cms-Link">
                            <a href="/klantenservice/keuzedagen" class="arrowLink"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:3,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;speciaal-voor&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/homepage/speciaal-voor/speciaal-voor&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;60-plussers&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/klantenservice/keuzedagen&quot;},&quot;event&quot;:&quot;link_click&quot;}">60-plussers</a>
                        </li>
                        <li class="list__item" data-type="cms-Link">
                            <a href="/reisinformatie/reizen-met-een-functiebeperking" class="arrowLink"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:4,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;speciaal-voor&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/homepage/speciaal-voor/speciaal-voor&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Reizigers met een functiebeperking&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/reisinformatie/reizen-met-een-functiebeperking&quot;},&quot;event&quot;:&quot;link_click&quot;}">Reizigers
                                met een functiebeperking</a>
                        </li>
                        <li class="list__item" data-type="cms-Link">
                            <a href="https://werkenbijns.nl/" class="arrowLink" target="_blank" rel="external noopener"
                                data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;linkposition&quot;:5,&quot;linktype&quot;:&quot;list&quot;,&quot;name&quot;:&quot;speciaal-voor&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/componenten/linklijsten/homepage/speciaal-voor/speciaal-voor&quot;},&quot;link_location&quot;:&quot;linklijsttegel&quot;,&quot;link_name&quot;:&quot;Werken bij NS&quot;,&quot;link_type&quot;:&quot;external&quot;,&quot;link_value&quot;:&quot;https://werkenbijns.nl/&quot;},&quot;event&quot;:&quot;link_click&quot;}">Werken
                                bij NS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>